<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CarServiceSoap" />
                <binding name="CustomerServiceSoap" />
                <binding name="CompanyServiceSoap" />
                <binding name="AuthServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:51655/carservice.asmx" binding="basicHttpBinding"
                bindingConfiguration="CarServiceSoap" contract="CarService.CarServiceSoap"
                name="CarServiceSoap" />
            <endpoint address="http://localhost:51655/customerservice.asmx"
                binding="basicHttpBinding" bindingConfiguration="CustomerServiceSoap"
                contract="CustomerService.CustomerServiceSoap" name="CustomerServiceSoap" />
            <endpoint address="http://localhost:51655/CompanyService.asmx"
                binding="basicHttpBinding" bindingConfiguration="CompanyServiceSoap"
                contract="CompanyService.CompanyServiceSoap" name="CompanyServiceSoap" />
            <endpoint address="http://localhost:51655/authservice.asmx" binding="basicHttpBinding"
                bindingConfiguration="AuthServiceSoap" contract="AuthService.AuthServiceSoap"
                name="AuthServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>